<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bc.wechat">

    <!-- Required -->
    <permission
        android:name="com.bc.wechat.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.bc.wechat.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <meta-data
        android:name="DATABASE"
        android:value="wechat.db" />
    <meta-data
        android:name="VERSION"
        android:value="3" />
    <meta-data
        android:name="QUERY_LOG"
        android:value="true" />
    <meta-data
        android:name="DOMAIN_PACKAGE_NAME"
        android:value="com.bc.wechat" />

    <application
        android:name=".WechatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_wechat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Bmug2opqgsCzgARv9CnDiGC7fVimMg8H" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StrangerUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyMoreUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PickProvinceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PickCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PickDistrictActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateWxIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewFriendsMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFriendsBySearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFriendsByRadarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddFriendsFinalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewFriendsAcceptActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageBigImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChatSingleSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatGroupSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CreateGroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UpdateGroupNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FriendsCircleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.UserFriendsCircleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BaiduMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MapPickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QrCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ViewPagerImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SetRemarkAndTagActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewFriendsApplyConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NewFriendsAcceptConfirmActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义的alertdialog -->
        <activity
            android:name=".activity.WechatAlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- 条形码扫描 -->
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
				Allow web apps to launch Barcode Scanner by linking to
				http://zxing.appspot.com/scan.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zxing.appspot.com"
                    android:path="/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- We also support a Google Product Search URL. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.com"
                    android:path="/m/products/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- And the UK version. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.co.uk"
                    android:path="/m/products/scan"
                    android:scheme="http" />
            </intent-filter>
        </activity>


        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace"></service>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!--极光推送接收消息-->
        <receiver
            android:name="com.bc.wechat.receiver.NotifyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.bc.wechat" />
            </intent-filter>
        </receiver>
        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name="com.bc.wechat.receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.bc.wechat"></category>
            </intent-filter>
        </receiver>
        <!-- 这个Service要继承JCommonService -->
        <service
            android:name="com.bc.wechat.service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.bc.wechat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="com.bc.wechat" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
