<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bc.wechat">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="DATABASE"
        android:value="wechat.db" />
    <meta-data
        android:name="VERSION"
        android:value="3" />
    <meta-data
        android:name="QUERY_LOG"
        android:value="true" />
    <meta-data
        android:name="DOMAIN_PACKAGE_NAME"
        android:value="com.bc.wechat" />

    <application
        android:name=".WechatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_wechat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateNickNameActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义的alertdialog -->
        <activity
            android:name=".activity.WechatAlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"></activity>
    </application>
</manifest>
